/* Flexnav Base Styles */
/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Globals */
/* line 26, ../sass/flexnav.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font: inherit;
  vertical-align: baseline;
  font-family: clean, sans-serif;
}

/* line 31, ../sass/flexnav.scss */
#nav {
  *zoom: 1;
  margin: 0 auto;
  width: 100%;
}
/* line 38, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#nav:after {
  content: "";
  display: table;
  clear: both;
}

/* line 37, ../sass/flexnav.scss */
.flexNav-touch [role='navigation'],
.flexNav-no-touch [role='navigation'] {
  display: none;
}

/* line 40, ../sass/flexnav.scss */
.menu-button {
  position: relative;
  display: block;
  padding: 1em;
  background: #a6a6a2;
  color: #222222;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 49, ../sass/flexnav.scss */
#nav li {
  font-size: 100%;
  position: relative;
}

/* line 53, ../sass/flexnav.scss */
#nav li a {
  position: relative;
  overflow: hidden;
  display: block;
  color: #222222;
  background: #a6a6a2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 61, ../sass/flexnav.scss */
.touch-button {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #acaca1;
  background: rgba(0, 0, 0, 0.075);
  text-align: center;
}
/* line 72, ../sass/flexnav.scss */
.touch-button:hover {
  cursor: pointer;
}
/* line 75, ../sass/flexnav.scss */
.touch-button .navicon {
  position: relative;
  top: 1.4em;
  font-size: 12px;
  color: #666;
}

/* line 82, ../sass/flexnav.scss */
.menu-button .touch-button {
  background: transparent;
}

/* line 86, ../sass/flexnav.scss */
.menu-button .navicon {
  font-size: 16px;
  top: 1em;
}

/* line 90, ../sass/flexnav.scss */
#nav .top-level a {
  position: relative;
  display: block;
  padding: 1em;
  z-index: 2;
}

/* line 96, ../sass/flexnav.scss */
#nav li ul {
  width: 100%;
}

/* line 99, ../sass/flexnav.scss */
#nav li ul li {
  float: none;
  width: 100%;
}

/* line 103, ../sass/flexnav.scss */
#nav li ul li a {
  display: block;
  background: #b2b2af;
}

/* line 107, ../sass/flexnav.scss */
.sub-menu {
  display: none;
}

/* line 110, ../sass/flexnav.scss */
#nav .second-level.item-with-ul ul li a {
  background: #bfbfbc;
}

/* line 113, ../sass/flexnav.scss */
#nav .second-level.item-with-ul ul li ul li a {
  background: #cbcbc9;
}

@media all and (min-width: 800px) {
  /* line 118, ../sass/flexnav.scss */
  p {
    font-size: 100%;
    margin-bottom: 1.5em;
    line-height: 1.25em;
  }

  /* line 120, ../sass/flexnav.scss */
  .flexNav-touch [role='navigation'],
  .flexNav-no-touch [role='navigation'] {
    display: block;
  }

  /* line 123, ../sass/flexnav.scss */
  .menu-button {
    display: none;
  }

  /* line 126, ../sass/flexnav.scss */
  #nav li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    background-color: #a6a6a2;
    width: 20%;
  }

  /* line 134, ../sass/flexnav.scss */
  .flexNav-no-touch .item-with-ul:hover > ul {
    opacity: 1;
    top: 3.1em;
    position: absolute;
  }

  /* line 139, ../sass/flexnav.scss */
  #nav li a {
    border-left: 1px solid #acaca1;
    border-bottom: none;
  }

  /* line 143, ../sass/flexnav.scss */
  #nav li > ul.sub-menu {
    position: absolute;
    top: auto;
    left: 0;
    opacity: 0;
    visibility: hidden;
    height: 1px;
    z-index: 1;
  }

  /* line 152, ../sass/flexnav.scss */
  #nav li ul.sub-menu li ul.sub-menu {
    top: 0;
  }

  /* line 155, ../sass/flexnav.scss */
  #nav li ul li a {
    border-bottom: none;
  }

  /* line 158, ../sass/flexnav.scss */
  #nav li ul.sub-menu.open {
    display: block;
    opacity: 1;
    visibility: visible;
    height: auto;
  }
  /* line 164, ../sass/flexnav.scss */
  #nav li ul.sub-menu.open .second-level ul.open {
    margin-left: 100%;
    top: 0;
  }

  /* line 169, ../sass/flexnav.scss */
  #nav li.item-with-ul:hover > ul {
    visibility: visible;
    opacity: 1;
    height: auto;
    display: block;
  }

  /* line 176, ../sass/flexnav.scss */
  .flexNav-no-touch .second-level.item-with-ul:hover ul {
    margin-left: 100%;
    top: 0;
  }
}
/* line 183, ../sass/flexnav.scss */
.oldie p {
  font-size: 100%;
  margin-bottom: 1.5em;
  line-height: 1.25em;
}
/* line 185, ../sass/flexnav.scss */
.oldie .flexNav-touch [role='navigation'],
.oldie .flexNav-no-touch [role='navigation'] {
  display: block;
}
/* line 188, ../sass/flexnav.scss */
.oldie .menu-button {
  display: none;
}
/* line 191, ../sass/flexnav.scss */
.oldie #nav li {
  position: relative;
  list-style: none;
  float: left;
  display: block;
  background-color: #a6a6a2;
  width: 20%;
}
/* line 199, ../sass/flexnav.scss */
.oldie #nav li ul li {
  width: 100%;
}
/* line 202, ../sass/flexnav.scss */
.oldie .flexNav-no-touch .item-with-ul:hover > ul {
  opacity: 1;
  top: 3.1em;
  position: absolute;
}
/* line 207, ../sass/flexnav.scss */
.oldie #nav li a {
  border-left: 1px solid #acaca1;
  border-bottom: none;
}
/* line 211, ../sass/flexnav.scss */
.oldie #nav li > ul.sub-menu {
  position: absolute;
  top: auto;
  left: 0;
  opacity: 0;
  visibility: hidden;
  height: 1px;
  z-index: 1;
}
/* line 220, ../sass/flexnav.scss */
.oldie #nav li ul.sub-menu li ul.sub-menu {
  top: 0;
}
/* line 223, ../sass/flexnav.scss */
.oldie #nav li ul li a {
  border-bottom: none;
}
/* line 226, ../sass/flexnav.scss */
.oldie #nav li.open ul.sub-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  height: auto;
}
/* line 232, ../sass/flexnav.scss */
.oldie #nav li.open ul.sub-menu .second-level ul {
  margin-left: 100%;
  top: 0;
}
/* line 237, ../sass/flexnav.scss */
.oldie #nav li.item-with-ul:hover > ul {
  visibility: visible;
  opacity: 1;
  height: auto;
  display: block;
}
/* line 243, ../sass/flexnav.scss */
.oldie #nav .second-level.item-with-ul:hover ul {
  margin-left: 100%;
  top: 0;
}
