/* line 4, ../sass/page.scss */
body {
  background: #eaebe7;
  border-top: 5px solid #3a3261;
  color: #333;
  font-family: "dejarip-1", "dejarip-2", "Helvetica Neue", Arial, clean, sans-serif;
  background: url("http://jasonweaver.name/img/textured-background2.png") -10% -16px;
}

/* line 11, ../sass/page.scss */
::selection {
  color: #fff;
  background: #3a3261;
}

/* line 15, ../sass/page.scss */
a {
  text-decoration: none;
  color: #548fa7;
}

/* line 19, ../sass/page.scss */
a:hover {
  text-decoration: underline;
}

/* line 22, ../sass/page.scss */
p {
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
  font-weight: 300;
}

/* line 28, ../sass/page.scss */
.img-devices {
  max-width: 100%;
  margin-top: 12px;
}

/* line 32, ../sass/page.scss */
.callout {
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  background: #548fa7;
  margin-top: 5px;
  display: inline-block;
}
/* line 40, ../sass/page.scss */
.callout:hover {
  background: #437285;
  text-decoration: none;
}

/* line 46, ../sass/page.scss */
.site-title h1 {
  font-family: "ff-dax-compact-web-pro-1","ff-dax-compact-web-pro-2";
  font-weight: 100;
  font-size: 1.3em;
  margin-top: -1px;
  margin-bottom: 5px;
  padding: 5px 20px;
  background: #3a3261;
  display: inline-block;
  border-radius: 3px;
  color: #f1f2eb;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
}
/* line 62, ../sass/page.scss */
.site-title h1 a {
  color: #f1f2eb;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
/* line 68, ../sass/page.scss */
.site-title h2 {
  font-size: 1em;
  margin-bottom: 5%;
  font-weight: 100;
}

/* line 74, ../sass/page.scss */
.container {
  margin: -1px auto 0;
  max-width: 1080px;
  padding: 0 5%;
}

/* line 79, ../sass/page.scss */
#content {
  margin: 7% auto;
  overflow: hidden;
}
/* line 83, ../sass/page.scss */
#content h1, #content h2 {
  margin-bottom: .5em;
}
/* line 86, ../sass/page.scss */
#content h2 {
  font-size: 1.6em;
  color: #3a3261;
}
/* line 90, ../sass/page.scss */
#content ul {
  margin: 1em;
  list-style-type: circle;
}
/* line 94, ../sass/page.scss */
#content li {
  font-size: 1em;
  margin-bottom: .4em;
  margin-left: .75em;
  font-weight: 300;
}

/* line 101, ../sass/page.scss */
.block {
  margin-bottom: 3em;
}

/* line 104, ../sass/page.scss */
.article-wrap {
  padding: 0;
  overflow: hidden;
}

/* line 108, ../sass/page.scss */
code {
  overflow: scroll;
  background: rgba(55, 47, 91, 0.9);
  border: 1px solid #3a3261;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 2.5em;
  line-height: 1.5;
  font-size: 16px;
  display: block;
  color: #fff;
  border-radius: 3px;
  box-shadow: inset 0 0 10px #3a3261;
}

/* line 122, ../sass/page.scss */
#site-footer {
  overflow: hidden;
  clear: both;
  background: rgba(0, 0, 0, 0.075);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em 0;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.05);
  width: 100%;
}
/* line 131, ../sass/page.scss */
#site-footer .container {
  margin-top: 0;
}

/* line 135, ../sass/page.scss */
#site-footer li {
  list-style: none;
  margin: 1em 0;
  display: block;
  float: left;
}

/* line 141, ../sass/page.scss */
#site-footer li a {
  padding: 0 0.5em;
}

/* line 144, ../sass/page.scss */
#section2, #section3, #section4, #section5 {
  padding-top: 80px;
}

@media all and (min-width: 800px) {
  /* line 148, ../sass/page.scss */
  body {
    font-size: 100%;
  }
  /* line 152, ../sass/page.scss */
  body.home-page #site-header {
    background: url("http://jasonweaver.name/img/look.png") no-repeat 90% 30px;
    min-height: 196px;
  }

  /* line 160, ../sass/page.scss */
  .site-title h1 {
    font-size: 2.25em;
    margin-bottom: 10px;
  }
  /* line 164, ../sass/page.scss */
  .site-title h2 {
    font-size: 1.2em;
    margin-bottom: 50px;
  }

  /* line 170, ../sass/page.scss */
  #content article:first-child {
    width: 56%;
    margin-right: 10%;
  }
  /* line 174, ../sass/page.scss */
  #content article:nth-child(2) {
    width: 34%;
    margin-right: 0;
  }
  /* line 178, ../sass/page.scss */
  #content p {
    font-size: 1.1em;
  }
  /* line 181, ../sass/page.scss */
  #content h2 {
    font-size: 1.9em;
  }
  /* line 184, ../sass/page.scss */
  #content article {
    width: 50%;
    float: left;
    overflow: hidden;
  }
  /* line 189, ../sass/page.scss */
  #content li {
    font-size: 1.1em;
  }
}
/* line 197, ../sass/page.scss */
.oldie body {
  font-size: 100%;
}
/* line 201, ../sass/page.scss */
.oldie body.home-page #site-header {
  background: url("http://jasonweaver.name/img/look.png") no-repeat 90% 30px;
}
/* line 208, ../sass/page.scss */
.oldie .site-title h1 {
  font-size: 2.25em;
  margin-bottom: 10px;
}
/* line 212, ../sass/page.scss */
.oldie .site-title h2 {
  font-size: 1.2em;
  margin-bottom: 50px;
}
/* line 218, ../sass/page.scss */
.oldie #content article:first-child {
  width: 56%;
  margin-right: 10%;
}
/* line 222, ../sass/page.scss */
.oldie #content article:nth-child(2) {
  width: 34%;
  margin-right: 0;
}
/* line 226, ../sass/page.scss */
.oldie #content p {
  font-size: 1.1em;
}
/* line 229, ../sass/page.scss */
.oldie #content h2 {
  font-size: 1.9em;
}
/* line 232, ../sass/page.scss */
.oldie #content article {
  width: 50%;
  float: left;
  overflow: hidden;
}
/* line 237, ../sass/page.scss */
.oldie #content li {
  font-size: 1.1em;
}
