/* line 3, ../sass/page.scss */
body {
  background: #f1f2eb;
  border-top: 5px solid #3a3261;
  color: #333;
}

/* line 8, ../sass/page.scss */
::selection {
  color: #fff;
  background: #3a3261;
}

/* line 12, ../sass/page.scss */
a {
  text-decoration: none;
  color: #548fa7;
}

/* line 16, ../sass/page.scss */
a:hover {
  text-decoration: underline;
}

/* line 19, ../sass/page.scss */
p {
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
}

/* line 24, ../sass/page.scss */
.callout {
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  background: #548fa7;
  margin-top: 5px;
  display: inline-block;
}
/* line 32, ../sass/page.scss */
.callout:hover {
  background: #437285;
  text-decoration: none;
}

/* line 38, ../sass/page.scss */
.site-title h1 {
  font-family: "helvetica neue", arial, clean, sans-serif;
  font-size: 1.3em;
  margin-top: -2px;
  margin-bottom: 5px;
  padding: 3px 20px;
  background: #3a3261;
  display: inline-block;
  border-radius: 3px;
  color: #f1f2eb;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
}
/* line 53, ../sass/page.scss */
.site-title h1 span.last {
  color: #e6e8dc;
  margin: 0;
  padding: 0;
}
/* line 59, ../sass/page.scss */
.site-title h2 {
  font-size: 1em;
  margin-bottom: 5%;
}

/* line 64, ../sass/page.scss */
.container {
  margin: -1px auto 0;
  max-width: 1080px;
  padding: 0 5%;
}

/* line 69, ../sass/page.scss */
#content {
  margin: 7% auto;
  overflow: hidden;
}
/* line 73, ../sass/page.scss */
#content h1, #content h2 {
  margin-bottom: .5em;
}
/* line 76, ../sass/page.scss */
#content h2 {
  font-size: 1.2em;
  font-weight: 900;
  color: #3a3261;
}
/* line 81, ../sass/page.scss */
#content ul {
  margin: 1em;
  list-style-type: circle;
}
/* line 85, ../sass/page.scss */
#content li {
  font-size: 1em;
  margin-bottom: .4em;
  margin-left: .75em;
}

/* line 91, ../sass/page.scss */
.block {
  margin-bottom: 3em;
}

/* line 94, ../sass/page.scss */
.article-wrap {
  padding: 0;
  overflow: hidden;
}

/* line 98, ../sass/page.scss */
pre {
  overflow: scroll;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 2.5em;
  line-height: 1.5;
  display: block;
  color: #666;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

/* line 110, ../sass/page.scss */
#site-footer {
  overflow: hidden;
  clear: both;
  background: rgba(0, 0, 0, 0.075);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em 0;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.05);
  width: 100%;
}
/* line 119, ../sass/page.scss */
#site-footer .container {
  margin-top: 0;
}

/* line 123, ../sass/page.scss */
#site-footer li {
  list-style: none;
  margin: 1em 0;
  display: block;
  float: left;
}

/* line 129, ../sass/page.scss */
#site-footer li a {
  padding: 0 0.5em;
}

@media all and (min-width: 800px) {
  /* line 134, ../sass/page.scss */
  body {
    font-size: 100%;
  }

  /* line 138, ../sass/page.scss */
  .site-title h1 {
    font-size: 2.75em;
    margin-bottom: 10px;
  }
  /* line 142, ../sass/page.scss */
  .site-title h2 {
    font-size: 1.2em;
    margin-bottom: 50px;
  }

  /* line 148, ../sass/page.scss */
  #content article:first-child {
    width: 56%;
    margin-right: 10%;
  }
  /* line 152, ../sass/page.scss */
  #content article:nth-child(2) {
    width: 34%;
    margin-right: 0;
  }
  /* line 156, ../sass/page.scss */
  #content p {
    font-size: 1.1em;
  }
  /* line 159, ../sass/page.scss */
  #content h2 {
    font-size: 1.6em;
    font-weight: 900;
  }
  /* line 163, ../sass/page.scss */
  #content article {
    width: 50%;
    float: left;
    overflow: hidden;
  }
  /* line 168, ../sass/page.scss */
  #content li {
    font-size: 1.1em;
  }
}
