/* Flexnav Base Styles */

@import "compass/reset";
@import "compass/utilities";

/* Globals */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font: inherit;
	vertical-align: baseline;
	font-family: clean, sans-serif;
}
a {text-decoration: none; color: #ff6b31; }
a:hover {text-decoration: underline;}
h1,h2 {font-family: georgia, serif;}
h1 {font-size: 24px;margin-bottom: 5%;}
h2 {font-size: 18px;margin-bottom: 10px;}
p {font-size: 14px;margin-bottom: 16px; line-height: 18px;}
.page-title {font-size: 26px;text-align: center;}
.container {margin: 5% auto;width: 90%;}

[role='main'] {
	margin: 5% auto;
}
[role='navigation'] {
	@include pie-clearfix;
	margin: 0 auto;
	width: 100%;	
}
.flexNav-touch [role='navigation'],
.flexNav-no-touch [role='navigation'] {	
	display: none;
}
.menu-button {
	position: relative;
	display: block;
	padding: 1em;
	background: #111;
	color: #fff;
	cursor: pointer;
}
[role='navigation'] li {
	position: relative;
	list-style: none;
	display: block;
	width: 100%;
	background: #222;	
}
[role='navigation'] li a {
	position: relative;
	overflow: hidden;
	display: block;
	color: #ddd;
	border-bottom: 1px solid #111;			
}
.touch-button {
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background: #111;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
	.navicon {
		position: relative;
		top: 1.4em;
		font-size: 12px;
		color: #555;
	}
}
.menu-button .navicon {
	font-size: 16px;
	top: 1em;
}
[role='navigation'] .top-level a {
	position: relative;
	display: block;
	padding: 1em;
	z-index: 2;
}
[role='navigation'] li ul {
	width: 100%;
	position: relative;
}
[role='navigation'] li ul li {
	float: none;
	width: 100%;			
}
[role='navigation'] li ul li a {
	display: block;
	background: #333;			
}
.sub-menu {
	display: none;
}
.sub-menu.open {
	display: block;
}
.second-level.item-with-ul ul li a {
	background: #444;
}
.second-level.item-with-ul ul li ul li a {
	background: #555;
}
#site-footer {
	margin: 1em 0;
	overflow: hidden;
}
#site-footer li {
	list-style: none;
	margin: 0;
	display: block;
	float: left;
}
#site-footer li a {
	padding: .5em .5em .5em 0;
}

@media all and (min-width: 800px) {
	p {font-size: 100%; margin-bottom: 1.5em; line-height: 1.25em;}	
	.flexNav-touch [role='navigation'],
	.flexNav-no-touch [role='navigation'] {
		display: block;	
	}
	.menu-button {
		display: none;
	}
	[role='navigation'] li {
		position: relative;
		list-style: none;
		float: left;
		display: block;	
		background-color: #222;	
		width: 20%;		
	}
	.flexNav-no-touch .item-with-ul:hover > ul { 
		opacity: 1;
		top: 3.1em;	
		position: absolute;	
	}	
	[role='navigation'] li a {
		border-left: 1px solid #000;
		border-bottom: none;		
	}
	.flexNav-no-touch [role='navigation'] li ul {
		position: absolute; 
		top: auto;
		left: 0;
		opacity: 0;
		visibility: hidden;
		height: 1px;
		z-index: 1;			
	}
	[role='navigation'] li ul li a {
		border-bottom: none;
	}	
	[role='navigation'] li ul.sub-menu {
		position: absolute; 
		top: auto;
		left: 0;
		z-index: 1;
		border-right: 1px solid #111;		
	}
	[role='navigation'] li ul li a,
	.second-level.item-with-ul ul li a,
	.second-level.item-with-ul ul li ul li a {
		background: #222;			
	}
	.flexNav-no-touch .item-with-ul:hover > ul	 { 
		visibility: visible;
		opacity: 1;
		height: auto;
		display: block;	
	}	
	
	.flexNav-no-touch .second-level.item-with-ul:hover ul {
		margin-left: 100%;
		top: 0;
	}
}