$accent: #3a3261;
$link: #548fa7;
$font-family: "dejarip-1","dejarip-2", "Helvetica Neue", Arial, clean, sans-serif;
body {
	background: #eaebe7;
	border-top: 5px solid $accent;
	color: #333;
	font-family: $font-family;
	background: url('http://jasonweaver.name/img/textured-background2.png') -10% -16px;
}
::selection {
	color: #fff;
	background: $accent;
}
a {
	text-decoration: none;
	color: $link;
}
a:hover {
	text-decoration: underline;
}
p {
	font-size: 1em;
	margin-bottom: 1em; 
	line-height: 1.5;
	font-weight: 300;
}
.img-devices {
	max-width: 100%;
	margin-top: 12px;
}
.callout {
	padding: 10px 30px;
	border-radius: 5px;
	color: #fff;
	background: $link;
	margin-top: 5px;
	display: inline-block;
	
	&:hover {
		background: darken($link, 10%);
		text-decoration: none;
	}
}
.site-title {
	h1 {
		font-family: "ff-dax-compact-web-pro-1","ff-dax-compact-web-pro-2";
		font-weight: 100;
		font-size: 1.3em;
		margin-top: -1px;
		margin-bottom: 5px;
		padding: 5px 20px;
		background: $accent;
		display: inline-block;
		border-radius: 3px;
		color: #f1f2eb;
		color: rgba(255,255,255,.5);
		text-transform: uppercase;
		letter-spacing: 2px;
		text-rendering: optimizeLegibility;
		
		a {
			color: #f1f2eb;
			color: rgba(255,255,255,.5);
			text-decoration: none;		
		}
	}
	h2 {
		font-size: 1em;
		margin-bottom: 5%;
		font-weight: 100;
	}
}
.container {
	margin: -1px auto 0;
	max-width: 1080px;
	padding: 0 5%;
}
#content {
	margin: 7% auto;
	overflow: hidden;
	
	h1,h2 {
		margin-bottom: .5em;
	}
	h2 {
		font-size: 1.6em;
		color: $accent;
	}
	ul {
		margin: 1em;
		list-style-type: circle;
	}
	li {
		font-size: 1em;
		margin-bottom: .4em;
		margin-left: .75em;
		font-weight: 300;
	}
}
.block {
	margin-bottom: 3em;
}
.article-wrap {
	padding: 0;
	overflow: hidden;
}
code {
	overflow: scroll;
	background: rgba(55, 47, 91,.9);
	border: 1px solid $accent;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 2.5em;
	line-height: 1.5;
	font-size: 16px;
	display: block;
	color: #fff;
	border-radius: 3px;
	box-shadow: inset 0 0 10px $accent;
}
#site-footer {
	overflow: hidden;
	clear: both;
	background: rgba(0,0,0,.075);
	border-top: 1px solid rgba(0,0,0,.1);
	padding: 1em 0;
	box-shadow: inset 0 3px 3px rgba(0,0,0,.05);
	width: 100%;
	
	.container {
		margin-top: 0;
	}
}
#site-footer li {
	list-style: none;
	margin: 1em 0;
	display: block;
	float: left;
}
#site-footer li a {
	padding: 0 .5em;
}
#section2, #section3, #section4, #section5 {
	padding-top: 80px;
}
@media all and (min-width: 800px) {
	body {
		font-size: 100%;
		
		&.home-page {
			#site-header {
				background: url('http://jasonweaver.name/img/look.png') no-repeat 90% 30px;
				min-height: 196px;
			}
		
		}
	}
	.site-title {
		h1 {
			font-size: 2.25em;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.2em;
			margin-bottom: 50px;
		}
	}
	#content {
		article:first-child {
			width: 56%;
			margin-right: 10%;			
		}
		article:nth-child(2) {
			width: 34%;
			margin-right: 0;			
		}		
		p {
			font-size: 1.1em;
		}
		h2 {
			font-size: 1.9em;
		}	
		article {
			width: 50%;
			float: left;
			overflow: hidden;
		}
		li {
			font-size: 1.1em;
		}
		
	}
}

.oldie {
	body {
		font-size: 100%;
		
		&.home-page {
			#site-header {
				background: url('http://jasonweaver.name/img/look.png') no-repeat 90% 30px;
			}
		
		}
	}
	.site-title {
		h1 {
			font-size: 2.25em;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.2em;
			margin-bottom: 50px;
		}
	}
	#content {
		article:first-child {
			width: 56%;
			margin-right: 10%;			
		}
		article:nth-child(2) {
			width: 34%;
			margin-right: 0;			
		}		
		p {
			font-size: 1.1em;
		}
		h2 {
			font-size: 1.9em;
		}	
		article {
			width: 50%;
			float: left;
			overflow: hidden;
		}
		li {
			font-size: 1.1em;
		}
		
	}
}