!!!
//if IE 7
	html(class="ie7 oldie", lang="en")
//if IE 8
	html(class="ie8 oldie", lang="en")
// [if gt IE 8] <!
html(lang="en")
	// <![endif]
    
	include partials/head
	- var page = 'home'
	body(class='#{page}-page')
		.container
			include partials/header
		
			section#content(role="main")
				article
					.article-wrap
						.block
							h2 A Device-Agnostic Approach to Complex Site Navigation
							p The mock navigation you see above is a mobile-first example of using media queries and javascript to make a decent site menu with drop downs. Special attention is paid to touch screens using touch events with tap targets (the key feature of FlexNav). This is something I use to test different navigation techniques and may change as I iterate over different solutions to the problem. Basically I want a simple model to build upon when working on sites from scratch.

							p Want a FlexNav for a one page site with anchors to different sections of the page? Check out the 
								a(href="http://jasonweaver.name/lab/flexiblenavigation/single-page-pattern.html") single page pattern demo.

						.block
							h2 Usage
							p Start with a simple unordered list, adding in the class and data attributes:
								code &lt;ul class="flexnav" data-breakpoint="800"&gt; &lt;li&gt...&lt;/li&gt &lt;/ul&gt;

							p Add the small screen menu button somewhere outside your navigation markup:
								code &lt;div class="menu-button"&gt;Menu&lt;/div&gt;

							p Add flexnav.css to the head of your document:
								code &lt;link href="css/flexnav.css" rel="stylesheet" type="text/css" /&gt;
		
							p Add jquery.flexnav.min.js before the closing body tag:
								code &lt;script type="text/javascript" src="js/jquery.flexnav.min.js"&gt;&lt;/script&gt;
		
							p Initialize FlexNav right before your closing body tag:
								code $(".flexnav").flexNav();

							p you can change the default speed too:
								code $(".flexnav").flexNav({ 'animationSpeed' : 'fast' });

				article
					.article-wrap
						.block
							img(src="http://jasonweaver.name/img/devices.png", alt="devices", class="img-devices") 
						.block
							h2 Get FlexNav v0.7
							p
								a(href="https://github.com/indyplanets/flexnav", class="callout") Download on GitHub &rarr;
						
						.block
							h2 Features
							ul
								li Multiple nested sub menus
								li Tap targets to reveal sub menus for touch screens
								li Hover reveal for desktop
								li Keyboard tab input accessibility
								li Fallback support for no js

						.block
							h2 Browser Support
							ul
								li IE7-10
								li Latest Safari
								li Latest Chrome
								li Latest FireFox
								li Android 2.2 to Latest
								li Mobile Safari



		include partials/footer