header#site-header
	hgroup.site-title
		h1 FlexNav
		h2.site-title-sub A jQuery Plugin for Responsive Menus

	.menu-button Menu
	nav
		ul(class='flexnav', data-breakpoint='800')
			li
				a(href="") Item 1
				ul
					li 
						a(href="#content") Sub 1 Item 1
					li
						a(href="") Sub 1 Item 2
					li
						a(href="") Sub 1 Item 3
					li
						a(href="") Sub 1 Item 4

			li
				a(href="") Item 2
				ul
					li
						a(href="") Sub 1 Item 1
					li
						a(href="") Sub 1 Item 2
						ul
							li
								a(href="") Sub 2 Item 1
							li
								a(href="") Sub 2 Item 2
							li
								a(href="") Sub 2 Item 3

					li
						a(href="") Sub 1 Item 3
						ul
							li
								a(href="") Sub 2 Item 1
							li
								a(href="") Sub 2 Item 2
								ul
									li
										a(href="") Sub 3 Item 1
									li
										a(href="") Sub 3 Item 2
									li
										a(href="") Sub 3 Item 3

			li
				a(href="") Item 3
				ul
					li
						a(href="") Sub 1 Item 1
					li
						a(href="") Sub 1 Item 2
					li
						a(href="") Sub 1 Item 3

			li
				a(href="") Item 4
				ul
					li
						a(href="") Sub 1 Item 1
					li
						a(href="") Sub 1 Item 2
					li
						a(href="") Sub 1 Item 3

			li
				a(href="") Item 5
				ul
					li
						a(href="") Sub 1 Item 1
					li
						a(href="") Sub 1 Item 2
					li
						a(href="") Sub 1 Item 3