header#site-header
	hgroup.site-title
		h1 Flex
			span.last Nav
		h2.site-title-sub A jQuery Plugin for Responsive Menus

	.menu-button Menu
	nav
		ul#nav(role="navigation")
			li.top-level
				a(href="") Item 1
				ul.sub-menu
					li 
						a(href="#content") Sub 1 Item 1
					li
						a(href="") Sub 1 Item 2
					li
						a(href="") Sub 1 Item 3
					li
						a(href="") Sub 1 Item 4

			li.top-level
				a(href="") Item 2
				ul.sub-menu
					li.second-level
						a(href="") Sub 1 Item 1
					li.second-level
						a(href="") Sub 1 Item 2
						ul.sub-menu
							li
								a(href="") Sub 2 Item 1
							li
								a(href="") Sub 2 Item 2
							li
								a(href="") Sub 2 Item 3

					li.second-level
						a(href="") Sub 1 Item 3
						ul.sub-menu
							li
								a(href="") Sub 2 Item 1
							li
								a(href="") Sub 2 Item 2
								ul.sub-menu
									li
										a(href="") Sub 3 Item 1
									li
										a(href="") Sub 3 Item 2
									li
										a(href="") Sub 3 Item 3

			li.top-level
				a(href="") Item 3
				ul.sub-menu
					li
						a(href="") Sub 1 Item 1
					li
						a(href="") Sub 1 Item 2
					li
						a(href="") Sub 1 Item 3

			li.top-level
				a(href="") Item 4
				ul.sub-menu
					li
						a(href="") Sub 1 Item 1
					li
						a(href="") Sub 1 Item 2
					li
						a(href="") Sub 1 Item 3

			li.top-level
				a(href="") Item 5
				ul.sub-menu
					li
						a(href="") Sub 1 Item 1
					li
						a(href="") Sub 1 Item 2
					li
						a(href="") Sub 1 Item 3