header#site-header
	hgroup.site-title
		h1 
			a(href="http://jasonweaver.name/lab/flexiblenavigation") FlexNav
		h2.site-title-sub A jQuery Plugin for Responsive Menus

	.menu-button.one-page Menu
	nav
		ul(class='flexnav one-page', data-breakpoint='800')
			li
				a(href="#page") Item 1

			li
				a(href="#section2") Item 2

			li
				a(href="#section3") Item 3

			li
				a(href="#section4") Item 4

			li
				a(href="#section5") Item 5